.container{
    margin: 30px auto;
}
.mininavContainer{
    margin-left: 10vw;
}

.productBox{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: auto;
}
.productImage{
width: 58%;
}
.productDetails{
width: 40%
}
.gender{
    text-transform: uppercase;
}
.productDetails select{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
}
.productDetails button{
    border-radius: 0;
    font-weight: 800;
}
.productDetails button:hover{
opacity: 0.5;
}

.shippingBox{
    width: 100%;
    border: 1px solid  rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin: 30px 0;
}
.topBox{
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-left: 15px
}
.or{
    position: relative;
    text-align: center;
}
.or::before,.or::after{
    content:"";
    width: 45%;
    height: 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    position: absolute;
    bottom: 40%;
}
.or::before{
    left: 0;
}
.or::after{
    right: 0;
}
.baseBox{
    padding: 0 0 30px 10px;
}
.inputBox{
    display: flex;
    align-items: center;
}
.inputBox div{
    line-height: 0.2;
}
.descBox{
    border: 1px solid black;
    width: 80vw;
    height: 420px;
    margin: 50px auto;
    border-radius: 5px;
}
.descHeaders{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 17%;
}
.descHeaders *{
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 22px 0;
}
.descHeaders *:hover{
    border-bottom: 5px solid #a1d040;
}
.active{
    border-bottom: 5px solid #a1d040;

}
.hr{
    margin: 0;
}
.reviews{
    padding: 20px;
    width: 80%;
    margin: auto;
}
.details{
    padding: 20px;
    line-height: 1.3;
    font-size: 20px;
}
.scrollContainer{
    height: 83%;
    overflow-y: scroll;
    border-bottom: 10px solid black;
}
.starsAndName{
    width: 270px;
    justify-content: space-between;
    display: flex;
    align-items: end;
}
.header{
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
}
.starsAndName p{
    font-weight: 900;
}

.body{
    margin: 10px auto;
}
.stars{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}
.username{
    margin-top: 5px;
}
